--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchvision
torchaudio
tensorboard
opencv-python
pyyaml
matplotlib
pandas
plyfile
--find-links https://download.openmmlab.com/mmcv/dist/cu111/torch1.9.0/index.html
mmcv-full
